**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
.github/**
.gitignore
.idea/**
.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**/test/**
node_modules/**
tsconfig.json
vsc-extension-quickstart.md